one_test_case(tc) ::= <<
{<tc.inputPrecision>, <tc.inputScale>, "<tc.inputValue>", <tc.outputPrecision>, <tc.outputScale>, "<tc.outputValue>", "<tc.nullValue>" }
>>
all_test_cases(tcList) ::=<<
<tcList:{tc|<one_test_case(tc)>}; separator=",\n">
>>
main(testCases, fromType, toType, name, category, fail) ::= <<
TEST_F(VectorizedDecimalCastExpr<category>Test, <name>) {
    CastTestCaseArray test_cases = {
    <all_test_cases(testCases)>
    };
    test_cast_all<fail>\<<fromType>, <toType>\>(test_cases);
}
>>
